html {
  font-size: 10px;
}

body {
  background-color: hsl(60, 100%, 8%);
  font: 200 20px Tahoma;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  height: 100%;
}

.top {
  color: #fff;
  text-align: center;
}

button {
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: -webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  background-color: #7d5d3b;
  border-radius: 3px;
  border: 1px solid #54381e;
  cursor: pointer;
  color: #ffffff;
  padding: 6px 24px;
  text-shadow: 0px 1px 0px #4d3534;
  text-align: center;
  font-size: 2rem;
  -webkit-transition: box-shadow .2s;
  transition: box-shadow .2s;
}

button:hover {
  background: -webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  background-color: #634b30;
  box-shadow: 0 0 3px #fff;
}

button:active {
  box-shadow: 0 0 8px #fff;
}

.notebook {
  max-width: 500px;
  margin: 50px auto;
  position: relative;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem 1rem 5rem;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background-size: 100% 3rem;
  font-family: 'helvetica neue';
  line-height: 3rem;
}

p {
  margin: 0 0 3rem;
}

.notebook:before {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}

.magic {
  -webkit-animation: color-change 1s linear 2 both;
          animation: color-change 1s linear 2 both;
}

@-webkit-keyframes color-change {
  0% {
    background-color: hsl(0, 100%, 50%);
  }
  25% {
    background-color: hsl(45, 100%, 50%);
  }
  50% {
    background-color: hsl(90, 100%, 50%);
  }
  75% {
    background-color: hsl(180, 100%, 50%);
  }
  100% {
    background-color: hsl(270, 100%, 50%);
  }
}

@keyframes color-change {
  0% {
    background-color: hsl(0, 100%, 50%);
  }
  25% {
    background-color: hsl(45, 100%, 50%);
  }
  50% {
    background-color: hsl(90, 100%, 50%);
  }
  75% {
    background-color: hsl(180, 100%, 50%);
  }
  100% {
    background-color: hsl(270, 100%, 50%);
  }
}
