html {
  box-sizing: border-box;
  background: #035;
  color: #fff;
  font-family: "Tahoma", sans-serif;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.photobooth {
  background: #000;
  box-shadow: 0 0 60px #00a;
  color: #fff;
  max-width: 800px;
  margin: 1rem auto;
  border-radius: 6px;
}

.photobooth:after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  padding-top: 0.2em;
}

.controls,
.row {
  display: flex;
  justify-content: space-between;
}

.controls {
  flex-direction: column;
  font-family: monospace;
  font-size: 1.2rem;
  margin: 0 auto;
  max-width: 30em;
}

.row {
  margin: 5px;
}

.row .title {
  flex-basis: 72%;
}

.row button {
  font-size: 0.8rem;
}

td:nth-child(odd) {
  text-align: right;
}

input[type="range"] {
  width: 50%;
}

button {
  min-width: 8em;
  background: #004;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  padding: 5px;
  transition: background 0.3s ease;
}

button:hover {
  background: #009;
}

button:active {
  background: #00c;
}

.fx-on {
  box-shadow: 0 0 15px #fff;
  font-style: italic;
}

.fx-red {
  background: #400;
}

.fx-red:hover {
  background: #a00;
}

.fx-red:active {
  background: #e00;
}

.fx-green {
  background: #040;
}

.fx-green:hover {
  background: #060;
}

.fx-green:active {
  background: #090;
}

.take-photo {
  text-align: center;
}

.video-orig {
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  min-width: 100px;
  max-width: 200px;
}

.video-canvas {
  width: 100%;
  float: left;
  margin: 10px auto;
}

.photo-roll {
  overflow-x: auto;
  padding: 0.5em;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.photo-roll img {
  width: 100px;
  padding: 0.5em;
}

@media (max-width: 400px) {
  .video-orig {
    display: none;
  }
}
