html {
  background: #eee;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*,
:before,
:after {
  box-sizing: inherit;
}

.site-wrap {
  background: #fff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  margin: 20px auto;
  max-width: 700px;
  padding: 20px;
  text-align: justify;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.fixed-nav .site-wrap {
  -webkit-transform: scale(1);
          transform: scale(1);
}

header {
  align-items: center;
  background: url(https://picsum.photos/1080?random) bottom center no-repeat;
  background-size: cover;
  display: flex;
  height: 30vh;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
}

nav {
  background: #000;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.5s;
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 5px rgba(0, 0, 100, 0.3);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  text-align: center;
}

li.logo {
  background: #fff;
  font-size: 30px;
  font-weight: 600;
  max-width: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.fixed-nav li.logo {
  max-width: 500px;
}

li.logo a {
  color: #000;
}

nav a {
  color: #fff;
  display: inline-block;
  padding: 0.6em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

@media (max-width: 768px) {
  nav a {
    font-size: 3vw;
    padding: 0.6em 0.2em;
  }
}
