html {
  background: linear-gradient(135deg, #5e1f5c 0%, #240428 51%, #4f2f93 100%)
    #5e1f5c;
  overflow: hidden;
  font-size: 10px;
}

body {
  min-height: 100vh;
  align-items: center;
}

.clock {
  opacity: 0; /* Hidden upon initial load */
  width: 30rem;
  height: 30rem;
  border: 20px solid #f6e6ff;
  border-radius: 50%;
  box-shadow: 0 0 6px 6px #34003b, inset 0 0 8px 8px #464047,
    inset 0 0 50px black, 0 0 10px 10px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  transition: opacity 1s 1s linear; /* Fade in w/delay */
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px); /* Account for height of clock hands */
}

.hand {
  position: absolute;
  width: 50%;
  height: 6px;
  background: #cbade8;
  border-radius: 30%;
  top: 50%;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  transition: all ease-in 1s;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0);
}

.hour-hand {
  width: 32%;
  left: 18%;
}

.second-hand {
  height: 4px;
  width: 48%;
  left: 2%;
  background: #99006d;
  z-index: 0;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2, 0.5, 1) !important;
}
