  html {
  	background: #018DED url('https://i.imgsafe.org/62d9591a2e.jpg');
  	background-size: cover;
  	overflow: hidden;
  	font-size: 10px;
  }
  
  body {
  	min-height: 100vh;
  	-webkit-box-align: center;
  	-ms-flex-align: center;
  	-ms-grid-row-align: center;
  	align-items: center;
  }
  
  .clock {
  	width: 30rem;
  	height: 30rem;
  	border: 20px solid #F2E2CA;
  	border-radius: 50%;
  	margin: 50px auto;
  	position: relative;
  	padding: 2rem;
  	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #EFEFEF, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .clock-face {
  	position: relative;
  	width: 100%;
  	height: 100%;
  	-webkit-transform: translateY(-3px);
  	transform: translateY(-3px);
  	/* account for the height of the clock hands */
  }
  
  .hand {
  	position: absolute;
  	width: 50%;
  	height: 6px;
  	background: #cbade8;
  	border-radius: 30%;
  	top: 50%;
  	-webkit-transform-origin: 100%;
  	transform-origin: 100%;
  	-webkit-transform: rotate(90deg);
  	transform: rotate(90deg);
  	-webkit-transition: all ease-in 1s;
  	transition: all ease-in 1s;
  	box-shadow: 0 0 1px rgba(255, 255, 255, 0);
  }
  
  .hour-hand {
  	width: 35%;
  	left: 15%;
  }
  
  .second-hand {
  	height: 4px;
  	width: 48%;
  	left: 2%;
  	background: #99006d;
  	-webkit-transition: all 0.05s;
  	transition: all 0.05s;
  	-webkit-transition-timing-function: cubic-bezier(0.1, 2, .5, 1) !important;
  	transition-timing-function: cubic-bezier(0.1, 2, .5, 1) !important;
  }
