:root {
  --base: #ada;
  --spacing: 10px;
  --blur: 10px;
}

body {
  background-color: #194058;
  color: #fff;
  font: 24px "Helvetica Neue", sans-serif;
  overflow: hidden;
  text-align: center;
}

.txt-big {
  font-size: 2em;
  padding-left: 0.08em;
  color: var(--base);
  transition: color 0.5s ease-out;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

.image {
  color: #007;
  width: 100%;
}

.image img {
  background-color: var(--base);
  -webkit-filter: blur(var(--blur));
          filter: blur(var(--blur));
  max-width: 80%;
  padding: var(--spacing);
  transition: background-color 0.5s ease-out;
}
