html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display:flex;
  min-height: 100vh;
  align-items: center;
  background-color:#04b;
  background-image: repeating-linear-gradient(315deg, transparent, transparent 50px, rgba(255,255,255,.2) 50px, rgba(255,255,255,.2) 100px);
}

.voiceinator {
  padding: 2rem;
  width: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
  position: relative;
  background: white;
  overflow: hidden;
  z-index: 1;
  box-shadow:0 0 5px 5px rgba(0,0,0,0.1);
}

h1 {
  width: calc(100% + 4rem);
  margin: -2rem 0 2rem -2rem;
  padding: .5rem;
  background: #fa0;
  border-bottom: 5px solid #e80;
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
  font-family: 'Berkshire Swash', cursive;
  text-shadow: 3px 3px 0 #e80;
  user-select: none;
}

label {
  font-size: 1.5rem;
}

textarea {
  height: 20rem;
  resize: none;
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 0;
  font-size: 2rem;
  background: #F7F7F7;
  outline: 0;
}

.voiceinator input {
  margin-top: -1rem;
}

.voiceinator button {
  background: #fa0;
  border: 0;
  width: 49%;
  float: left;
  font-family: 'Berkshire Swash', cursive;
  margin-bottom: 0;
  font-size: 2rem;
  border-bottom: 5px solid #e80;
  cursor: pointer;
  position: relative;
  transition: all .2s;
}

.voiceinator button:nth-of-type(1) {
  margin-right: 2%;
}

.voiceinator button:active {
  top: 2px;
}

.voiceinator button:nth-of-type(1):hover {
  background: #f64;
  border-bottom: 5px solid #f30;
}

.voiceinator button:nth-of-type(2):not(.no-hover):hover {
  background: #8c5;
  border-bottom: 5px solid #090;
}
