body, .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  position: relative;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #051 url('https://source.unsplash.com/Rfflri94rs8/') no-repeat fixed;
  background-size: cover;
  font: 22px sans-serif;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper {
  height: 430px;
  width: 840px;
  margin: 0 auto;
}

video {
  width: 91%;
}

.speed {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: 100%;
  width: 9%;
  background:#1a3231;
  margin-left: 1%;
  border-radius: 10px;
  overflow: hidden;
  cursor: row-resize;
}

.speed-bar {
  height: 20%;
  min-height: 8%;
  width: 100%;
  background: linear-gradient(-170deg, #f3e75c 0%, #4e4731 100%);
  text-shadow: 0 3px 5px rgba(0,0,0,0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

@media (max-width: 840px) {
  body {
    font-size: 3vmin;
  }
  .wrapper {
    width: 95vw;
    height: 49.5vw;
  }
}
