*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #a3caa5;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}


h1 {
  margin-top: 0;
}

.site-wrap {
  max-width: 700px;
  margin: 100px auto;
  background: white;
  padding: 40px;
  text-align: justify;
}

.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.align-left.slide-in {
  -webkit-transform: rotateY(45deg) translateX(-30%) scale(0.9);
  transform: rotateY(45deg) translateX(-30%) scale(0.9);
}
.align-right.slide-in {
  -webkit-transform: rotateY(-45deg) translateX(30%) scale(0.9);
  transform: rotateY(-45deg) translateX(30%) scale(0.9);
}

.slide-in.active {
  opacity: 1;
  -webkit-transform: rotateY(0) translateX(0%) scale(1);
  transform: rotateY(0) translateX(0%) scale(1);
}
